<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Barrieren und POIs in deiner Nähe anzeigen</string>
	<key>NSCameraUsageDescription</key>
	<string>AR-Barrieren und zugängliche Orte im Kamerabild anzeigen</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<!-- Deep Links: Der Link aus der "Passwort zurücksetzen"-E-Mail öffnet
	     omina://password-reset (siehe AppConfig.passwordResetRedirectURL). -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.jschneiter.Omina</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>omina</string>
			</array>
		</dict>
	</array>
</dict>
</plist>